Q1. Explain the key featu$es of Python that make python popular.

ans1) 1. easy to learn
2. widely used in the industries.
3. python has lots of libraries.
4. python has huge active community.

In [ ]:
#ans2) Python Keywords are some predefined and reserved words in Python that have special meanings.eg- int,true,false,print,if
print ("pws")

pws

In [ ]:
#ans3 immutable
t1=(0,3,5,6)
t1[2]=6
print (t1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#mutable
l1=[2,4,8,9,0]
l1.append(5)
print (l1)

[2, 4, 8, 9, 0, 5]

In [ ]:
#ans4 operators are special symbols that  perform operationson variables and values
print(5+9) #addition
print(5-4)# subtraction
print(3*4)#multiple
print(5%4)#modulo
a="deepika"# membership
"i" in a

14
1
12
1

True

Ans5 type Casting in Python:

Python Implicit Type Conversion
Python Explicit Type Conversion

In [ ]:

# implicit type Casting

# Python automatically converts
# a to int
a = 7
print(type(a))

# Python automatically converts
# b to float
b = 3.0
print(type(b))

# Python automatically converts
# c to float as it is a float addition
c = a + b
print(c)
print(type(c))

# Python automatically converts
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

In [ ]:
 #ans 6
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
#Ans7
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry